.loginPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}
.loginPage::before{
  display: block;
  content: '';
  background: url('../../assets/login.jpg') no-repeat center center;
  background-size: cover;
}

.forms{
  max-width: 30rem;
  padding: 1rem;
}

@media (max-width: 40rem) {
  .loginPage {
    grid-template-columns: 1fr;
  }
  .loginPage::before{
    display: none;
  }
  .forms{
    max-width: 100%;
  }
}